# Import files from different types of data

Flat Files:
- .txt, .csv
- Files from Other Software
- Excel, Matlab, SAS, Stata
- Relational Databases

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## Text File: Reading, Writing and Appding

**Reading a text file**

In [2]:
text_file = open('Chemistry_text file.txt', "r") # r - only read 
lines = text_file.read()
text_file.close()

with open ()

In [3]:
lines

'Chemistry is the scientific study of the properties and behavior of matter. It is a natural science that covers the elements that make up matter to the compounds composed of atoms, molecules and ions: their composition, structure, properties, behavior and the changes they undergo during a reaction with other substances.'

**Writing a text file**

In [4]:
filename = 'Write_text file.txt'
file = open(filename, mode='w') # 'w' is to write
file.close()

In [8]:
# Program to show various ways to read and
# write data in a file.
file1 = open("myfile.txt","w")
L = ["This is Delhi \n","This is Paris \n","This is London \n"]

In [9]:
# \n is placed to indicate EOL (End of Line)
file1.write("Hello \n") # /n new line 
file1.writelines(L) #Get list of content rather than string
file1.close() #to change file access modes

In [10]:
file1 = open("myfile.txt","r+")  # r+ read and write
  
print("Output of Read function is ")
print(file1.read())
file1.close()

Output of Read function is
Hello
This is Delhi
This is Paris
This is London

**Appending to a file**

In [11]:
# Append vs write mode
file1 = open("myfile.txt","w")
L = ["This is Delhi \n","This is Paris \n","This is London \n"] 
file1.writelines(L)
file1.close()

In [13]:
# Append-adds at last
file1 = open("myfile.txt","a")#append mode
file1.write("Today \n")
file1.close()

In [14]:
file1 = open("myfile.txt","r")
print("Output of Readlines after appending") 
print(file1.readlines())
print()
file1.close()

Output of Readlines after appending
['This is Delhi \n', 'This is Paris \n', 'This is London \n', 'Today \n']

**Write-Overwrites**

In [15]:

file1 = open("myfile.txt","w")#write mode
file1.write("Tomorrow \n")
file1.close()

In [16]:
file1 = open("myfile.txt","r")
print("Output of Readlines after writing") 
print(file1.readlines())
print()
file1.close()

Output of Readlines after writing
['Tomorrow \n']

## Flat Files

- Text files containing records, that is, table data
- Record: row of fields or attributes
- Column: feature or attribute

File Extensions
- .csv - Comma separated values
- .txt – Text file

Delimiters
- Commas
- Tabs

### NumPy loadtxt

In [17]:
import numpy as np
a=np.loadtxt(r"../Exe_2, 3 - Numpy/eg6-a-student-data.csv", delimiter=",",skiprows=2, dtype='str' )
a

OSError: ../Exe_2, 3 - Numpy/eg6-a-student-data.csv not found.

## Importing Flat Files using Pandas

In [24]:
import pandas as pd
filename = r'..\Exe_6-Pandas\pdb_data_seq.csv'
data = pd.read_csv(filename)
data.head()

,structureId,chainId,sequence,residueCount,macromoleculeType
0,100D,A,CCGGCGCCGG,20,DNA/RNA Hybrid
1,100D,B,CCGGCGCCGG,20,DNA/RNA Hybrid
2,101D,A,CGCGAATTCGCG,24,DNA
3,101D,B,CGCGAATTCGCG,24,DNA
4,101M,A,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,154,Protein

## Importing Excel Files using Pandas

In [18]:
path = r"xlrd_COVID19_Israel.xlsx"
type(pd.read_excel(path, sheet_name=None)) #we have more than one sheet

dict

In [20]:
import openpyxl
ref_workbook = openpyxl.load_workbook(path)
sheetnames = ref_workbook.sheetnames
print(sheetnames)

['Feb', 'March']

**Sheets can be referred by name or index**

In [22]:
ws = ref_workbook[sheetnames[0]]
ws

In [23]:
data = ws.values
# Get the first line in file as a header line
columns = next(data)[0:]
# Create a DataFrame based on the second and subsequent lines of data
df = pd.DataFrame(data, columns=columns)
df.head(10)

  ObservationDate  New Confirmed  New Deaths  New Recovered
0       2/21/2020              1           0              0
1       2/22/2020              0           0              0
2       2/23/2020              0           0              0
3       2/24/2020              0           0              0
4       2/25/2020              0           0              0
5       2/26/2020              1           0              0
6       2/27/2020              1           0              1
7       2/28/2020              1           0              0
8       2/29/2020              3           0              0

## Matlab

Matlab – “Matrix Laboratory”

Industry standard in engineering and science

Data is saved as .mat files

- scipy.io.loadmat() - read .mat files
- scipy.io.savemat() - write .mat files

In [ ]:
import scipy.io
filename = 'facesData.mat'
mat = scipy.io.loadmat(filename)
print(type(mat))

<class 'dict'>

keys = MATLAB variable names<br>
values = objects assigned to variables

In [37]:
print(type(mat['faces']))

<class 'numpy.ndarray'>

# Exercises

**1. Use the load_workbook command to upload the excel file: xlrd_woorbook**

In [24]:
path = r"xlrd_woorbook.xlsx"
type(pd.read_excel(path, sheet_name=None)) #we have more than one sheet

dict

In [25]:
import openpyxl
ref_workbook = openpyxl.load_workbook(path)
sheetnames = ref_workbook.sheetnames
print(sheetnames)

['1-114', '115-230', '231-365']

['1-114', '115-230', '231-365']

**2. Get the first line in file as a header line**

In [35]:
ws = ref_workbook[sheetnames[0]]
data = ws.values
# Get the first line in file as a header line
columns = next(data)[0:] #???
# Create a DataFrame based on the second and subsequent lines of data
df = pd.DataFrame(data, columns=columns)
df.head(1)

,None,id,season,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,1,1,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,985

**3. Create a 3 DataFrame according the 3 sheets**

In [36]:
df.head(115)

,None,id,season,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,1,1,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,985
1,2,2,1,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,801
2,3,3,1,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,1349
3,4,4,1,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,1562
4,5,5,1,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,110,110,2,4,0,3,1,1,0.595000,0.564392,0.614167,0.241925,3944
110,111,111,2,4,0,4,1,1,0.459167,0.453892,0.407083,0.325258,4189
111,112,112,2,4,0,5,1,2,0.336667,0.321954,0.729583,0.219521,1683
112,113,113,2,4,0,6,0,2,0.460000,0.450121,0.887917,0.230725,4036
113,114,114,2,4,0,0,0,2,0.581667,0.551763,0.810833,0.192175,4191

In [39]:
ws = ref_workbook[sheetnames[1]]
data = ws.values
# Get the first line in file as a header line
columns = next(data)[0:] #???
# Create a DataFrame based on the second and subsequent lines of data
df = pd.DataFrame(data, columns=columns)
df.head(116)

,None,id,season,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,115,115,2,4,0,1,1,1,0.606667,0.574500,0.776667,0.185333,4073
1,116,116,2,4,0,2,1,1,0.631667,0.594083,0.729167,0.326500,4400
2,117,117,2,4,0,3,1,2,0.620000,0.575142,0.835417,0.312200,3872
3,118,118,2,4,0,4,1,2,0.617500,0.578929,0.700833,0.320908,4058
4,119,119,2,4,0,5,1,1,0.510000,0.497463,0.457083,0.240063,4595
...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,226,226,3,8,0,0,0,2,0.676667,0.624388,0.817500,0.222633,3820
112,227,227,3,8,0,1,1,1,0.665833,0.616167,0.712083,0.208954,4338
113,228,228,3,8,0,2,1,1,0.700833,0.645837,0.578333,0.236329,4725
114,229,229,3,8,0,3,1,1,0.723333,0.666671,0.575417,0.143667,4694
115,230,230,3,8,0,4,1,1,0.711667,0.662258,0.654583,0.233208,3805

In [41]:
ws = ref_workbook[sheetnames[2]]
data = ws.values
# Get the first line in file as a header line
columns = next(data)[0:] #???
# Create a DataFrame based on the second and subsequent lines of data
df = pd.DataFrame(data, columns=columns)
df.head(135)

,None,id,season,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,231,231,3,8,0,5,1,2,0.685000,0.633221,0.722917,0.139308,4153
1,232,232,3,8,0,6,0,1,0.697500,0.648996,0.674167,0.104467,5191
2,233,233,3,8,0,0,0,1,0.710833,0.675525,0.770000,0.248754,3873
3,234,234,3,8,0,1,1,1,0.691667,0.638254,0.470000,0.276750,4758
4,235,235,3,8,0,2,1,1,0.640833,0.606067,0.455417,0.146763,5895
...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,361,361,1,12,0,2,1,2,0.325000,0.327633,0.762500,0.188450,1162
131,362,362,1,12,0,3,1,1,0.299130,0.279974,0.503913,0.293961,2302
132,363,363,1,12,0,4,1,1,0.248333,0.263892,0.574167,0.119412,2423
133,364,364,1,12,0,5,1,1,0.311667,0.318812,0.636667,0.134337,2999
134,365,365,1,12,0,6,0,1,0.410000,0.414121,0.615833,0.220154,2485