# Exercise 1

An overview of basic concepts and commands in Python

# Slicing

Slicing outside the bounds of a sequence doesn't cause an error.

In [2]:
s = 'hello'

# Indexing
try :s[100]
except Exception as e: print(e) #don't understand this 

# Slicing
print(s[0:3])
print(s[2:3])

string index out of range
hel
l

**Reverse slicing:** https://www.codingem.com/reverse-slicing-in-python/


The direction is changed. 

Index 4 is 'o' but the direction of the moving through the string is right to left.

In [3]:
s='hello'
# We want to get 'olleh'
print(s[4:0:-1]) # Not including 0 index ('h').
#print(s[4:-1:-1])

olle

In [4]:
print(s[4:1:-2]) # Return ''. -1 is not on the left side of 4

ol

In [5]:
print(s[:1:-2])

ol

# Dictionary

Everything can be a value in a dictionary:

In [37]:
d = {'a': 1} # int
d = {'a': 'b'} # str
d = {'a': [1,2,3]} # list
d = {'a': dict(c=1,d=2)} # dict

from numpy import array
d = {'a': array} # function

# **Can you sort a dictionary?**

**Answer: No! Because normal dictionaries are *mappings* not a sequence.**

It is important to know that in dictionaries there is no order for items. Hence, no matter which order we put the items in, the dictionary will keep them in internal order and unknown of its own. 
Therefore, it is not possible to convert a dictionary to a list or a Tuple, whereas it is possible to convert a Tuple to a list
for example.
Finally, we can also get a list of tuples from the dictionary, with each tuple we get a pair of (value, key.) In the example of our capital cities:

In [38]:
cap = {} # create a dictionary 
cap['Israel'] = 'Jerusalem'
cap['USA'] = 'Washington'
cap['Russia'] = 'Moscow'
cap['France'] = 'Paris'
cap['England'] = 'London'
cap['Italy'] = 'Rome'

In [39]:
cap.items()
[('Israel', 'Jerusalem'), ('Italy', 'Rome'), ('USA', 'Washington'), ('France',
'Paris'), ('England', 'London'), ('Russia', 'Moscow')]

[('Israel', 'Jerusalem'),
 ('Italy', 'Rome'),
 ('USA', 'Washington'),
 ('France', 'Paris'),
 ('England', 'London'),
 ('Russia', 'Moscow')]

Two dictionaries are equal if the corresponding values of all keys in both dictionaries are the same (if one dictionary has keys that the other doesn't, then the two are not equal). Thus:

In [42]:

{1:'a', 2:'b'} == {2:'a', 1:'a'}

False

If we sort the pointers we will destroy the mapping of the hash function

In [1]:
d = dict(a=2, c=4, b=1)
d.keys()# Printing the keys in order in the pointer and not necessarily in the order of the insertion.
d.values()

dict_values([2, 4, 1])

**Its important to note that dictionaries are very flexible in the data types they can hold. For example:**

In [7]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [8]:
#Lets call items from the dictionary
my_dict['key3']

['item0', 'item1', 'item2']

In [9]:
# Can call an index on that value
my_dict['key2'][2]

33

In [10]:
#Can then even call methods on that value
my_dict['key3'][2].upper() #letters are bigger

'ITEM2'

We can effect the values of a key as well. For instance:

In [12]:
my_dict['key1']

123

In [13]:
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 12

In [14]:
#Check
my_dict['key1']

111

# List vs Tuples

**In list**: Often, you will see that allocated can be greater than size. This is to avoid needing calling realloc each time a new elements is appended to the list.

In [17]:
import sys  # ???
l = [1,2,3]
t = (1, 2, 3)

print('Size of list {}'.format(sys.getsizeof(l)))
print('Size of tuple {}'.format(sys.getsizeof(t)))

Size of list 120
Size of tuple 64

*Deep copy list:*

*Option 1:*

In [19]:
l1 = [1,2,3] 
l2 = l1 #первый лист изменяется тоже
l2[0] = 'new value'
print(l1)
print(l2)

['new value', 2, 3]
['new value', 2, 3]

In [20]:
l1 = [1,2,3]
l2 = list(l1) #deepcopy - первый лист не изменяется
l2[0] = 'new value'
print(l1)
print(l2)

[1, 2, 3]
['new value', 2, 3]

But with this way deeper levels are not copied:
it doesn't save the first list

In [25]:
l1 = [1,2,[3]]
l2 = list(l1) # deepcopy only one level
l2[1] = 'new value' # [0] to make it a list 
print(l1) 
print(l2) 
print(l1 is l2) # Save elsewhere in memory
print(l1[2] is l2[2])

[1, 2, [3]]
[1, 'new value', [3]]
False
True

*Deep copy list:*

*Option 2:*

In [33]:
from copy import deepcopy

l1 = [1,2,[3]]
l2 = deepcopy(l1) #после этой функции в лист можно вставлять только такие же переменные 
l2[2][0] = 'new value' #попробовать убрать [0]!!! без него не будет листом 
print(l1) 
print(l2)
print(l1 is l2)
print(l1[2] is l2[2])

[1, 2, [3]]
[1, 2, ['new value']]
False
False

Magic: "mutable" tuple

In [35]:
l= ['a', 'b']
t = (1, 2, l) # лист внутри переменной l 
print('Tuple before {}'.format(t))
t[2][1] = 'с' # меняет значение второй переменной во вложенном листе 
print('Tuple after {}'.format(t))

Tuple before (1, 2, ['a', 'b'])
Tuple after (1, 2, ['a', 'с'])

## Nesting Lists
Python data structures support *nesting*. This means we can have data structures within data structures. For example: A list inside a list:

In [36]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [37]:
# Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

Now we can again use indexing to grab elements, but now there are two levels for the index. The items in the matrix object, and then the items inside that list!

In [26]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [27]:
# Grab first item of the first item in the matrix object
matrix[0][0] # первый элемент листа в листе

1

# Exercise 1:

Write a Python program to remove an item from a tuple:

In [47]:
tup = ('w', 3, 'r', 's', 'o', 'u', 'r', 'c', 'e')
tup5=tup[:2] + tup[8:] # но таким способом нельзя удалить отдельные символы внутри 
print(tup5)
list1 = list(tup)
list1.remove('o')
tup1 = tuple(list1)
print (tup1)
print (tup)

('w', 3, 'e')
('w', 3, 'r', 's', 'u', 'r', 'c', 'e')
('w', 3, 'r', 's', 'o', 'u', 'r', 'c', 'e')

# Exercise 2:

Write a Python program to concatenate following dictionaries to create a new one

In [51]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
#{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [62]:
def merge (x,y,z):
   p = x | y | z 
   return p
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = merge(dic1, dic2, dic3)
print(dic4)
#dic4 = {}  не работает!!!
#for d in (dic1, dic2, dic3): dic4.update(d)
 #   print (dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

# Exercise 3:

Write a Python program to match key values in two dictionaries.

In [1]:
x = {'key1': 1, 'key2': 3, 'key3': 2}
y = {'key1': 1, 'key2': 2}

In [3]:
for (key, value) in set(x.items()) & set(y.items()):
    print('%s: %s is present in both x and y' % (key, value))
    
#Original String:
#['Python', 'Exercises', 'Practice', 'Solution', 'Exercises']

#After removing duplicate words from the said list of strings:
#['Python', 'Exercises', 'Practice', 'Solution']

key1: 1 is present in both x and y

# Exercise 4:

 Write a Python program to remove duplicate words from a given list of strings

In [73]:
def list1(l):
    temp = []
    for x in l:
        if x not in temp:
            temp.append(x)
    return temp

p = ['Python', 'Exercises', 'Practice', 'Solution', 'Exercises']
print (list1(p))

#After removing duplicate words from the said list of strings:
['Python', 'Exercises', 'Practice', 'Solution']

['Python', 'Exercises', 'Practice', 'Solution']

['Python', 'Exercises', 'Practice', 'Solution']

# list.sort()

**Python lists have a built-in list.sort() method that modifies the list in-place. There is also a sorted() built-in function that builds a new sorted list from an iterable.**

**list.sort()** method modifies the list in-place (and returns None to avoid confusion). Usually it’s less convenient than sorted() - but if you don’t need the original list, it’s slightly more efficient.

The **list.sort()** method is only defined for **lists**. In contrast, the **sorted()** function accepts any iterable.

In [1]:
sorted([5, 2, 3, 1, 4])

[1, 2, 3, 4, 5]

In [2]:
a = [5, 2, 3, 1, 4]
a.sort()
a

[1, 2, 3, 4, 5]

Sorted() function accepts any iterable.

In [32]:
sorted({1: 'D', 2: 'B', 3: 'B', 4: 'E', 5: 'A'})
[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

Both **list.sort()** and **sorted()** have a key parameter to specify a function (or other callable) to be called on each list element prior to making comparisons.

In [33]:
student_tuples = [
    ('john', 'A', 15),
    ('jane', 'B', 12),
    ('dave', 'B', 10),]

Sort by age:

In [34]:
sorted(student_tuples, key=lambda student: student[2])

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

## Range()

In [35]:
range(5)

range(0, 5)

In [36]:
for i in range(5):
    print(i)

0
1
2
3
4

In [37]:
range(0,10)

range(0, 10)

In [38]:
x =range(0,10)
type(x)

range

In [39]:
start = 0 #Default
stop = 20 
x = range(start,stop)

In [40]:
x

range(0, 20)

 Notice how it went *up to* 20, but doesn't actually produce 20. Just like in indexing. 
 **Step size:** We can specify that as a third argument:

In [41]:
x = range(start,stop,2)

In [42]:
#Show
x=list(range(0,20,2))
x

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [43]:
list(range(5))

[0, 1, 2, 3, 4]

# Part 2

# Set

A set is like a list, except that the same item cannot be stored twice. To create a group from a list of items use curly braces:

In [44]:
x = {1, 2, 3}
x
#set([1, 2, 3])

{1, 2, 3}

We can add items to the group, and if we try to add a item that already exists in the group, nothing will happen:

In [45]:
x.add(2)
x.add(3)
x.add(4)
x.add(4)
#set([1, 2, 3, 4])
x

{1, 2, 3, 4}

You can create an impressive group or an existing tuple, and thus get the same list without duplicates:

In [46]:
w = [1, 1, 1, 2, 3, 9, 2, 4, 3, 6]
set(w)

{1, 2, 3, 4, 6, 9}

# Function

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

In [47]:
def func():
     print ("I am a function")

In [48]:
func()

I am a function

In [49]:
def mol_gas(p, v, t):
    """ This function calculates the moles of a gas
    under a pressure (p, [atm]), of a volume (v [L])
    in a certian tempurtue (t [K])
    """
    r = 0.082 # L atm / (mol K)
    #PV = nRT
    n = (p * v) / (r * t )
    return n

In [50]:
result = mol_gas(1, 1, 30)
result

0.4065040650406504

# Lambda

A lambda function is a small anonymous function, it can take any number of arguments, but can only have one expression.

Syntax:

lambda arguments : expression

The expression is executed and the result is returned

**Pros:**
1. Good for simple logical operations that are easy to understand.    This makes the code more readable too.
2. Good when you want a function that you will use just one time.


**Cons:**
1. They can only perform one expression. It’s not possible to have    multiple independent operations in one lambda function.
2. Bad for operations that would span more than one line in a        normal def function (For example nested conditional      operations). If you need a minute or two to understand the code, use a named function instead.
3. Bad because you can’t write a doc-string to explain all the inputs, operations, and outputs as you would in a normal def function.

In [51]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [52]:
sqr_fun = lambda x: x * x

In [53]:
print(sqr_fun(2))

4

# Map, reduce, filter

When we have a list of objects we will probably go through it with the help of a loop. So that our code does not extend from identical loops that do the same job over and over again, the map, reduce and filter functions were created.
These three functions are built-in functions within Python, the whole purpose of which is to take a list (or Tuple), run a function on its members and produce output appropriate.
All this is done by calling one function on the list.

# Map

**map()** function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

Syntax :

**map(fun, iter)**
Parameters :

fun : It is a function to which map passes each element of given iterable.

iter : It is a iterable which is to be mapped.

**Without using lambdas**

**Map() on range:**

In [54]:
def func(x):
    return x * 2

In [55]:
x=list(map(func, range (1,11)))
x

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Another example:

In [56]:
def starts_with_A(s):
    return s[0] == "A"

fruit = ["Apple", "Banana", "Pear", "Apricot", "Orange"]
map_object = map(starts_with_A, fruit)

print(list(map_object))

[True, False, False, True, False]

A prettier way to do this exact same thing is by using lambdas:

In [1]:
fruit = ["Apple", "Banana", "Pear", "Apricot", "Orange"]
map_object = map(lambda s: s[0] == "A", fruit)

print(list(map_object))

[True, False, False, True, False]

# Reduce

The **reduce(fun,seq)** function is used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along.This function is defined in “functools” module. 

At first step, first two elements of sequence are picked and the result is obtained.

Next step is to apply the same function to the previously attained result and the number just succeeding the second element and the result is again stored.

This process continues till no more elements are left in the container.
The final returned result is returned and printed on console.

In [58]:
# importing functools for reduce()
from functools import reduce
 
# initializing list
lis = [1, 2, 5, 8, 3, 10]
 
# using reduce to compute sum of list
print("The sum of the list elements is : ", end="")
# print(functools.reduce(lambda a, b: a+b, lis))
print(reduce(lambda a, b: a+b, lis))
 
# using reduce to compute maximum element from list
print("The maximum element of the list is : ", end="")
print(reduce(lambda a, b: a if a > b else b, lis))

The sum of the list elements is : 29
The maximum element of the list is : 10

In [59]:
def func(x, y):
    return x + y

In [60]:
reduce(func, range(1, 11))

55

# Filter

**filter(function, iterable)**

Offers an elegant way to filter out all the elements of an iterable, for which the function function returns True. i.e. an item will be produced by the iterator result of filter(function, iterable) if item is included in the sequence "iterable" and if function(item) returns **True**.

In other words: The function filter(f,l) needs a function f as its first argument. f has to return a Boolean value, i.e. either True or False. This function will be applied to every element of the list l. Only if f returns True will the element be produced by the iterator, which is the return value of filter(function, sequence).

In [61]:

# function that filters vowels
def fun(variable):
    letters = ['a', 'e', 'i', 'o', 'u']
    if (variable in letters):
        return True
    else:
        return False

In [62]:
# sequence
sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r']

In [63]:
  
# using filter function
filtered = filter(fun, sequence)
  
print('The filtered letters are:')
for s in filtered:
    print(s)

The filtered letters are:
e
e

**Filter() with a lambda:**

In [4]:
Chemical_element = ["Iron", "Nitrogen", "Silicon", "Sulfur", "Potassium", "Nickel"]

filter_object = filter(lambda s: s[0] == "N", Chemical_element)

print(list(filter_object))

['Nitrogen', 'Nickel']

# Exercise 5 :

1. Write a function that calculates the number of mass given moles and molar mass (m = n* Mw)

2. Write a function that calculates the mass given the volume and density (d * v = m)

3. Use the previous two functions to write a function that calculates the moles if the molar mass, volume and density are given

# Exercise 6 :

Write a code that gets a state (gas (G), solid (S) or liquid (L)).

Depending on the state, the code will request additional data to calculate the number of moles:

If gas - provide P, V, T R = 0.082
If liquid - d, V, Mw
If solid - provide m, Mw

Use the functions you wrote already.

# Exercise 7 :

Write a Python program convert a given string list to a tuple.

Hint - you can use **Python String isspace() Method :**

# Exercise 8 :

**Using lambda() function with filter().**


Write a program that returns the odd numbers from an input list:

# Exercise 9 :

**Using lambda() function with map().**

Write a program that gets a list of numbers, double each number and add 1:

# Exercise 10 :

Use each of map, filter, and reduce to fix the broken code:

In [1]:
# Use map to print the square of each numbers rounded
# to three decimal places
my_floats = [4.35, 6.09, 3.25, 9.77, 2.16, 8.88, 4.59]

Need to fix:

In [2]:
map_result = list(map(lambda x: x*x, my_floats))

In [3]:
print(map_result)

[18.922499999999996, 37.0881, 10.5625, 95.45289999999999, 4.6656, 78.85440000000001, 21.068099999999998]

In [67]:
# Use filter to print only the elements that are less than
# or equal to seven letters
elements = ["Chlorine", "Boron", "Fluorine", "Iodine", "Mercury","Nickel"]

Need to fix:

In [ ]:
filter_result = list(filter(lambda name: name, elements , elements ))

In [ ]:
print(filter_result)

In [68]:
# Use reduce to print the product of these numbers
my_numbers = [4, 6, 9, 23, 5]

Need to fix:

In [ ]:
reduce_result = reduce(lambda num1, num2: num1 * num2, my_numbers, 0)

In [ ]:
print(reduce_result)