In [15]:
x = 19
while x < 10:
    x += 1
print(x)

19

In [ ]:
for i in range(10):
    x -= 1
print(x)

STRINGS

In [19]:
s1 = "Pyton is not "
s2 = "a snake"
s3 = s1 + s2
s3

'Pyton is not a snake'

In [29]:
s4 = s3[-5:-1]
s4

'snak'

In [30]:
s5 = s3[-3:]
s5

'ake'

In [33]:
s6 = s3[-5:-1] + s5[-2:]
s6

'snakke'

LISTS

In [49]:
l = [1, 2.3, "acid", True]
l[2]

'acid'

In [50]:
l[3]='base'
l

[1, 2.3, 'acid', 'base']

TUPLES

In [1]:
t1 = (2.0, 2.3, 5) 
t1

(2.0, 2.3, 5)

In [75]:
t2 = (1.2,) #returns the type of the object 
type(t2)

tuple

In [76]:
t3 = t1 + t2
t3

(2.0, 2.3, 1.2)

In [80]:
t4 = t1 + (5.2,) + t2 # (5.2,) without , it is not a tuple
t4

(2.0, 2.3, 5.2, 1.2)

In [85]:
t1[0:2]+ t3

(2.0, 2.3, 2.0, 2.3, 1.2)

DICTIONARIES

In [89]:
element_to_num = {'H':1, 'He':2, 'Li':3, 'Be':4, 'B':5,'C':6}
print(element_to_num.keys())

dict_keys(['H', 'He', 'Li', 'Be', 'B', 'C'])

In [90]:
print(element_to_num.values())

dict_values([1, 2, 3, 4, 5, 6])

In [96]:
print(element_to_num['B'])

5

In [97]:
element_to_num['Na'] = 11
element_to_num['Na']

11

FUNCTIONS

In [101]:
def foo_1(x):
    return 3*x**2 + 2*x + 5.0
print(foo_1(1.5))

14.75

In [108]:
def foo_2(x):
    temp = 3*x**2 + 2*x + 5.0
    return temp 
print(foo_2(1.5))

14.75

EXERCISE

In [169]:
l = [0, 1, 2, 4]
def fahrenheit(x):
    return x*9/5 +32
print(fahrenheit(l[0])) #don't know how to add a list

32.0

Packing and unpacking

In [133]:
(a, b, c) = (1, 2, 3)
b

2

In [139]:
# Unpacking strings 
a, b, c = '123'
b

'2'

In [141]:
# Unpacking lists
a, b, c = [1, 2, 3]
b

2

In [144]:
 # Unpacking generators
gen = (i ** 2 for i in range(3))
a, b, c = gen
c

4

In [146]:
# Unpacking dictionaries (keys, values, and items) 
my_dict = {'one': 1, 'two':2, 'three': 3}
a, b, c = my_dict # Unpack keys
b

'two'

In [148]:
a, b, c = my_dict.values() # Unpack values >>> 
b

2

In [149]:
a, b, c = my_dict.items() # Unpacking key-value pairs
a

('one', 1)

In [150]:
*a, = 1, 2  #packing
a

[1, 2]

In [153]:
a, *b = 1, 2, 3, 4
b

[2, 3, 4]

In [158]:
first, *body, last = [1, 2, 3, 5, 4]
body

[2, 3, 5]

Exercise

In [159]:
def arifmetic_mean (first, *values) : #???
    return(first + sum(values))/(1+len(values))
print (arifmetic_mean(3,5,9))

5.666666666666667

In [160]:
x=[3, 5, 9] #list
print (arifmetic_mean(*x))

5.666666666666667

In [166]:
x=(3, 5, 9) #tuple
print (arifmetic_mean(*x))

5.666666666666667

In [167]:
x={3, 5, 9} #set, no order
print (arifmetic_mean(*x))

5.666666666666667

PRACTICE CLASS